html {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f4f4f4;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.navbar {
  border: solid;
  color: #a09a95;
  background-color: #d0d0be;
  justify-content: space-between;
  padding: 10px 50px 20px;
  width: 100%;
  overflow: auto;
}

a {
  justify-content: space-between;
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 15%; 
  text-align: center;
}

h2 {
  text-align: center;
}
@media (min-width: 480px) {
  .waterfallphoto {
    border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
  width: 465px;
  height: 500px;
  float: auto;

}
}


.project-container {
  --b: 1.5px;   /* border thickness */
  --s: 5em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.project-container:hover,
.project-container:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.project-container:active {
  background: var(--color);
  color: #fff;
}

.project-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 50px;
}

.projectphoto {
  max-width: 100%;
  max-height: 500px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.hero {
  height: 600px;
}

.contact{
  text-align: center;
}
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}